* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --primarycolor-: #e39a31;
    --secondarycolor-: #323333;
    --font-: "Playfair Display", serif;
}

/* section 1 */
#sec1 {
    width: 100%;
    background: var(--secondarycolor-);
    padding: 14px 45px;
}

#center1 {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

#sec-1-left {
    width: 50%;
    /* border: 1px solid red; */
    text-align: left;
}

.sec-1-left-ul {
    list-style-type: none;
    display: flex;
}

.sec-1-left-li {
    color: white;
    font-size: 15px;
    margin-right: 1rem;
}

.sec-1-left-li span {
    color: var(--primarycolor-);
    font-weight: 700;
    margin-right: .5rem;
}

.sec-1-left-li .fa {
    color: var(--primarycolor-);
    opacity: .7;
    margin-right: .4rem;
    font-size: 20px;
    position: relative;
    top: 3px;
}

#sec-1-right {
    width: 50%;
    text-align: right;
}

.sec-1-right-ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.sec-1-right-li {
    padding: 0px 5px;
}

.sec-1-a {
    background: rgba(255, 255, 255, .1);
    color: var(--primarycolor-);
    padding: 14px 20px;
    text-decoration: none;
    font-family: var(--font-);
    margin-right: 1rem;
    text-align: center;
}

.sec-1-a:hover {
    background-color: var(--primarycolor-);
    color: white;
    transition: all 0.2s ease-in-out;
}

.sec-1-right-a {
    text-decoration: none;
}

.sec-1-right-i {
    font-size: 15px;
    color: #888;
}

.sec-1-right-i:hover {
    color: var(--primarycolor-);
}


/* header */

header {
    width: 100%;
    padding: 15px 45px;
    float: left;
    position: sticky;
    top: 0;
    z-index: 99;
}

#center2 {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;

}

#sec-2-left {
    width: 30%;
    text-align: left;
}

.sec-2-left-img {
    width: 190px;
}

#sec-2-right {
    width: 70%;
    text-align: right;
}

.sec-2-right-ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.sec-2-right-a {
    font-family: var(--font-);
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 16px 11px;
    text-decoration: none;
    color: white;
}

.sec-2-right-a:hover {
    color: var(--primarycolor-);
    transition: all 0.2s ease-in-out;
}


/* section 3 */
#sec3 {
    width: 100%;
    background-image: url("../../Assignments/Template (Education)/images/slider22.jpg");
    padding: 300px 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

#center3 {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.sec-3-h3 {
    color: var(--primarycolor-);
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    font-family: var(--font-);
}

.sec-3-h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-family: var(--font-);
    font-size: 40px;
    line-height: 50px;
    margin: 5px 0px;
}

.sec-3-p {
    line-height: 20px;
    color: white;
    font-weight: 400;
    opacity: .7;
    margin-bottom: 20px;
}

.sec-3-btn-a {
    margin-right: 15px;
    font-family: var(--font-);
    background: var(--primarycolor-);
    padding: 10px 25px;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    line-height: 31.2px;
    font-size: 13px;
    border: 2px solid var(--primarycolor-);
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.sec-3-btn-a:hover{
    padding-right:50px;
}

.sec-3-btn-a i{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.sec-3-btn-a:hover i{
    opacity: 1;
}

#sec-3-btn-a {
    color: var(--primarycolor-);
    border: 2px solid var(--primarycolor-);
    background-color: transparent;
}


/* section 4 */
#sec4 {
    width: 100%;
    padding: 102px 50px 0px 0px;
    background-image: url("../../Assignments/Template (Education)/images/about-bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

#center4 {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

#sec-4-top {
    width: 100%;
    /* border: 1px solid black; */
    padding: 0px 210px;
    margin-bottom: 55px;
}

.sec-4-h2 {
    font-family: var(--font-);
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
    color: var(--secondarycolor-);
}

.sec-4-h4 {
    font-size: 16px;
    color: var(--secondarycolor-);
    font-weight: 400;
    opacity: .5;
    line-height: 25px;
    margin-bottom: 34px;
}

.sec-4-p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(50, 51, 51, .8);
    line-height: 25px;
    margin-bottom: 48px;
}

.sec-4-a {
    border: 1px solid var(--primarycolor-);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-family: var(--font-);
    color: var(--primarycolor-);
    border-radius: 4px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.sec-4-a:hover{
    padding-right: 35px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.242);
}

.sec-4-a i{
    position: absolute;
    top: 50%;
    right: 15%;
    font-size: 15px;
    transform: translate(+50%,-50%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.sec-4-a:hover i{
    opacity: 1;
}

#sec-4-bot-img {
    display: block;
}

/* section 5 */
#sec5 {
    width: 100%;
    padding: 102px 50px;
    background: linear-gradient(rgba(227, 154, 49, .95), rgba(227, 154, 49, .95)), url("../../Assignments/Template (Education)/images/milestone-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

#center5 {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.sec-5-in-div {
    width: 31.33%;
    padding: 10px 20px 20px 20px;
    /* border: 1px solid black; */
}

.sec-5-in-div:hover {
    background-color: rgba(255, 255, 255, 0.114);
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.100);
    transition: all 0.2s ease-in-out;
}

.sec-5-i {
    font-size: 60px;
    line-height: 100px;
    opacity: .4;
    color: white;
}

.sec-5-h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.sec-5-a1 {
    text-decoration: none;
    color: white;
    font-family: var(--font-);
}

.sec-5-p {
    opacity: .7;
    color: white;
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 15px;
}

.sec-5-a2 {
    color: white;
    opacity: .4;
    text-decoration: none;
}

.sec-5-a2:hover {
    color: white;
    border-bottom: 1px solid white;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}


/* section 6 */
#sec6 {
    width: 100%;
    background-color: #f1f1f1;
    padding: 102px 50px;
}

#center6 {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#sec-6-top {
    width: 100%;
}

.sec-6-top-h2 {
    font-family: var(--font-);
    font-size: 40px;
    font-weight: 900;
    margin-top: 0;
    color: var(--secondarycolor-);
    margin-bottom: 10px;
}

.sec-6-top-h4 {
    margin: 10px 0px 73px 0px;
    font-size: 17px;
    line-height: 30px;
    color: var(--secondarycolor-);
    font-weight: 400;
    opacity: .5;
}

.sec-6-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 63px;
}

.sec-6-top-a {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    color: var(--secondarycolor-);
    text-transform: uppercase;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    font-family: var(--font-);
}

#sec-6-bot {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 25px;
}

.sec-6-bot-in {
    width: 31.33%;
    padding: 15px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    /* margin-bottom: 2.4rem; */
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.sec-6-bot-in:hover {
    border-color: var(--primarycolor-);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.203);
}

.sec-6-bot-top {
    width: 100%;
    position: relative;
}

.sec-6-img {
    width: 100%;
    display: block;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.sec-6-bot-in:hover .sec-6-img {
    transform: scale(1.02);
}

.sec-6-overlay {
    position: absolute;
    content: "";
    background-color: rgba(227, 154, 49, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.sec-6-bot-in:hover .sec-6-overlay {
    opacity: 1;
    transform: scale(1.02);
}

.in-overlay {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
}

.sec-6-overlay-a {
    background-color: white;
    color: var(--primarycolor-);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}

.sec-6-bot-in:hover .in-overlay {
    height: 100%;
}

.sec-6-overlay-i {
    font-size: 25px;
}

.sec-6-bot-bot {
    width: 100%;
    padding: 0px 15px;
    margin-top: -40px;
    position: relative;
    z-index: 1;
}

.sec-6-bot-img {
    border-radius: 50%;
    border: 4px solid white;
    max-width: 66px;
}

.sec-6-bot-h4 {
    font-size: 15px;
}

.sec-6-bot-h4-a {
    font-weight: 700;
    line-height: 10px;
    color: black;
    font-family: var(--font-);
    text-decoration: none;
}

.sec-6-bot-h4-a:hover {
    color: var(--primarycolor-);
    transition: all 0.4s ease-in-out;
}

.sec-6-bot-h5 {
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    opacity: .7;
    color: var(--secondarycolor-);
}

.sec-6-bot-h3 {
    margin: 10px 0px 24px 0px;
    font-size: 22px;
}

.sec-6-bot-h3-a {
    text-decoration: none;
    color: var(--secondarycolor-);
    font-weight: 700;
    font-family: var(--font-);
}

.sec-6-bot-h3-a:hover {
    color: var(--primarycolor-);
    transition: all 0.4s ease-in-out;
}

.sec-6-bot-ul {
    list-style-type: none;
    display: flex;
    border-top: 1px solid #f1f1f1;
    padding-top: 14px;
    text-align: right;
    margin-bottom: 10px;
}

.sec-6-bot-li {
    padding: 0px 5px;
}

.sec-6-bot-ul .sec-6-bot-li:last-child {
    margin-top: -7px;
    margin-left: 110px;
}

.sec-6-bot-li-a {
    text-decoration: none;
    opacity: .5;
    font-weight: 500;
    color: var(--secondarycolor-);
}

.sec-6-bot-i {
    color: var(--primarycolor-);
    margin-right: 2px;
}

.sec-6-bot-li:last-child a {
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    color: var(--secondarycolor-);
    opacity: 1;
}

.sec-6-bot-li:last-child span {
    font-size: 15px;
    color: var(--primarycolor-);
    font-weight: 600;
    font-style: normal;
    opacity: .7;
}

/* section 7 */

#sec7 {
    width: 100%;
    background: linear-gradient(rgba(50, 51, 51, .9), rgba(50, 51, 51, .9)), url("../../Assignments/Template (Education)/images/milestone-bg.jpg");
    padding: 166px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#center7 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

#sec-7-left {
    width: 58.33%;
    padding: 0px 15px;
}

.sec-7-h3 {
    font-family: var(--font-);
    font-size: 40px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
}

.sec-7-h2 {
    font-family: var(--font-);
    font-size: 65px;
    line-height: 130px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
    color: #fff;
}

.sec-7-p {
    margin-bottom: 34px;
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}

.sec-7-left-a {
    font-family: var(--font-);
    background-color: var(--primarycolor-);
    padding: 13px 25px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.sec-7-left-a:hover {
    padding-right: 50px;
}

.sec-7-i {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.sec-7-left-a:hover .sec-7-i {
    opacity: 1;
}

#sec-7-right {
    width: 41.66%;
    padding: 100px 15px;
    text-align: center;
}

#sec-7-right span {
    font-family: var(--font-);
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

.sec-7-right-a {
    color: white;
    text-decoration: none;
    margin: 0px 25px;
}

.sec-7-right-i {
    background-color: var(--primarycolor-);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding-top: 25px;
    padding-left: 5px;
    font-size: 42px;
    outline: 5px solid rgb(156, 152, 152);
    outline-offset: 8px;
    transition: all 0.3s ease-in-out;
}

.sec-7-right-i:hover {
    color: var(--primarycolor-);
    background-color: white;
    outline: none;
}


/* section 8 */
#sec8 {
    width: 100%;
    padding: 102px 0px;
}

#center8 {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

#sec-8-top {
    width: 100%;
    margin-bottom: 63px;
}

.sec-8-top-h2 {
    font-family: var(--font-);
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    margin-top: 0;
    color: var(--secondarycolor-);
}

.sec-8-top-h4 {
    font-size: 17px;
    line-height: 35px;
    color: var(--secondarycolor-);
    font-weight: 400;
    margin: 10px 0px;
    opacity: .5;
}

#sec-8-bot {
    width: 100%;
    display: flex;
    column-gap: 20px;
}

.sec-8-bot-in {
    width: 33.33%;
    border: 1px solid #ddd;
    border-radius: 6px;
    position: relative;
}

.sec-8-bot-a {
    text-decoration: none;
}

.sec-8-bot-img {
    width: 100%;
    display: block;
    border-radius: 6px;
    filter: grayscale(1);
}

.sec-8-overlay {
    content: "";
    position: absolute;
    text-align: left;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: white;
    margin: 15px;
    padding: 0px 15px 15px 15px;
    border-radius: 6px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, .12);
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.sec-8-bot-in:hover .sec-8-overlay {
    bottom: 0;
    opacity: 1;
}

.sec-8-bot-in:hover {
    border-color: var(--primarycolor-);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.388);
}

.sec-8-bot-in:hover .sec-8-bot-img {
    filter: grayscale(0);
}

.sec-8-overlay::after {
    content: "";
    position: absolute;
    border-right: 20px solid transparent;
    border-bottom: 25px solid white;
    border-left: 20px solid transparent;
    top: -24px;
}

.sec-8-overlay-h3 {
    margin-bottom: 10px;
    margin-top: 25px;
}

.sec-8-overlay-h3-a {
    text-decoration: none;
    color: var(--secondarycolor-);
    font-size: 20px;
    font-family: var(--font-);
}

.sec-8-overlay-h3 span {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin-left: 10px;
    color: var(--primarycolor-);
}

.sec-8-overlay-p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(50, 51, 51, .8);
}


.sec-8-overlay-in {
    display: flex;
    align-items: center;
}


.sec-8-overlay-ul {
    list-style-type: none;
    display: flex;
    column-gap: 15px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.sec-8-overlay-li i {
    font-size: 18px;
}

.sec-8-overlay-li .fa-twitter {
    color: #1da1f2;
}

.sec-8-overlay-li .fa-facebook-f {
    color: #3b5998;
}

.sec-8-overlay-li .fa-google {
    color: #dd4b39;
}

.sec-8-overlay-li .fa-linkedin-in {
    color: #00a0dc;
}

.sec-8-overlay-a {
    margin-left: 200px;
    margin-bottom: 20px;
    color: var(--primarycolor-);
    font-size: 25px;
}


/* section 9 */

#sec9 {
    width: 100%;
    background: linear-gradient(rgba(241, 241, 241, .9), rgba(241, 241, 241, .9)), url("../../Assignments/Template (Education)/images/event-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    padding: 102px 0px;
}

#center9 {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

#sec-9-top {
    width: 100%;
    margin-bottom: 50px;
}

.sec-9-top-h2 {
    font-family: var(--font-);
    font-weight: 900;
    color: var(--secondarycolor-);
    font-size: 40px;
}

.sec-9-top-h4 {
    font-size: 17px;
    color: var(--secondarycolor-);
    opacity: .5;
    font-weight: 400;
    line-height: 50px;
}

#sec-9-bot {
    width: 100%;
    display: flex;
    column-gap: 15px;
}

#sec-9-bot-left {
    width: 50%;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #ddd;
    position: relative;
    transition: all 0.3s ease-in-out;
}
#sec-9-bot-left:hover{
    border-color: var(--primarycolor-);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.146);
}

.sec-9-left-img {
    width: 100%;
    display: block;
}


#sec-9-left-overlay {
    position: absolute;
    bottom: 0;
    display: flex;
    margin: 20px 20px 40px 20px;
}

#overlay-left {
    width: 20%;
    height: 100px;
    margin-right: 20px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
}

#overlay-left h4 {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    padding-top: 10px;
    color: var(--primarycolor-);
}

#overlay-left span {
    display: block;
    font-family: var(--font-);
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    color: var(--secondarycolor-);
    text-transform: uppercase;
}


#overlay-right {
    text-align: left;
    width: 70%;
}

.sec-9-overlay-right-p {
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.sec-9-overlay-right-h4 {
    color: white;
    opacity: 0.75;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 15px;
}

.sec-9-overlay-right-h3 a {
    color: white;
    text-decoration: none;
    font-family: var(--font-);
    font-size: 21px;
    line-height: 25px;
}

#sec-9-bot-right {
    width: 50%;
    padding: 0px 15px;
}

.sec-9-right-in {
    padding: 20px;
    background: rgba(255, 255, 255, .7);
    border-radius: 6px;
    color: white;
    border: 1px solid #ddd;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.sec-9-right-in:hover{
    border-color: var(--primarycolor-);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.146);

}

.sec-9-right-in-left {
    width: 25%
}

.sec-9-right-in-left img {
    width: 100%;
    display: block;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.sec-9-right-in:hover .sec-9-right-in-left img{
    transform: scale(1.08);
}
.sec-9-right-in-right {
    width: 75%;
    margin-left: 20px;
    text-align: left;
}

.sec-9-right-in-right a {
    text-decoration: none;
    font-family: var(--font-);
    font-size: 16px;
    font-weight: 700;
    color: var(--primarycolor-);
}

.sec-9-right-in-right h4 {
    font-size: 14px;
    opacity: .5;
    font-weight: 400;
    line-height: 30px;
    color: var(--secondarycolor-);
}

.sec-9-right-in-right h3 {
    font-family: var(--font-);

}

.sec-9-right-in-right h3 a {
    color: var(--secondarycolor-);
    font-size: 22px;
    text-align: left;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}
.sec-9-right-in-right h3 a:hover{
    color: var(--primarycolor-);
}


/* section 10 */
#sec10 {
    width: 100%;
    padding: 102px 0px;
    background: linear-gradient(rgba(50, 51, 51, .8), rgba(50, 51, 51, .8)), url("../../Assignments/Template (Education)/images/milestone-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

#center10 {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#sec-10-top {
    width: 100%;
    margin-bottom: 63px;
}

.sec-10-top-h2 {
    color: white;
    font-family: var(--font-);
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

.sec-10-top-h4 {
    color: white;
    font-size: 18px;
    line-height: 30px;
    opacity: .5;
    font-weight: 400;
}

#sec-10-bot {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 25px;
}

.sec-10-bot-in {
    width: 31.33%;
    padding: 15px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    /* margin-bottom: 2.4rem; */
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.sec-10-bot-in:hover {
    border-color: var(--primarycolor-);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.203);
}

.sec-10-bot-top {
    width: 100%;
    position: relative;
}

.sec-10-img {
    width: 100%;
    display: block;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.sec-10-bot-in:hover .sec-10-img {
    transform: scale(1.02);
}

.sec-10-overlay {
    position: absolute;
    content: "";
    background-color: rgba(227, 154, 49, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.sec-10-bot-in:hover .sec-10-overlay {
    opacity: 1;
    transform: scale(1.02);
}

.sec-10-in-overlay {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.sec-10-overlay-a {
    background-color: white;
    color: var(--primarycolor-);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}

.sec-10-bot-in:hover .sec-10-in-overlay {
    height: 100%;
}

.sec-10-overlay-i {
    font-size: 25px;
}

.sec-10-author {
    position: absolute;
    bottom: 15px;
    top:70%;
    left: 15px;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.sec-10-bot-in:hover .sec-10-author{
    opacity: 0;
    top: 90%;
}
.sec-10-author img {
    max-width: 60px;
    border-radius: 50%;
    border: 3px solid white;
}

.author-in {
    text-align: left;
    margin-left: 15px;
}

.author-in h4 a {
    text-decoration: none;
    font-family: var(--font-);
    color: var(--primarycolor-);
    font-weight: 700;
}

.author-in h5 {
    color: white;
    font-size: 13px;
}

.sec-10-bot-bot {
    text-align: left;
    padding: 20px 15px;
}

.sec-10-bot-bot-h3 a {
    font-size: 20px;
    text-decoration: none;
    color: var(--secondarycolor-);
    font-family: var(--font-);
}

.sec-10-bot-bot-p {
    margin: 10px 0px;
    color: rgba(50, 51, 51, .8);
    font-size: 16px;
    line-height: 25px;
}

.sec-10-bot-bot-in .date {
    text-decoration: none;
    font-family: var(--font-);
    font-size: 15px;
    color: var(--primarycolor-);
}

.sec-10-bot-bot-in .link {
    text-decoration: none;
    font-family: var(--font-);
    font-size: 20px;
    color: var(--primarycolor-);
    float: right;
}


/* section 11 */
#sec11 {
    width: 100%;
    padding: 102px 0px 0px 0px;
}

#center11 {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

#sec-11-top {
    width: 100%;
    margin-bottom: 60px;
}

.sec-11-top-h2 {
    font-family: var(--font-);
    font-size: 40px;
    line-height: 55px;
    font-weight: 900;
    margin-top: 0;
    color: var(--secondarycolor-);
}

.sec-11-top-h4 {
    font-size: 18px;
    line-height: 55px;
    color: var(--secondarycolor-);
    font-weight: 400;
    opacity: .5;
}

#sec-11-bot {
    width: 100%;
}

#sec-11-bot-top {
    width: 100%;
    display: flex;
    column-gap: 15px;
}

.sec-11-bot-top-img {
    width: 50%;
    border-radius: 6px;
    position: relative;
}

.sec-11-bot-top-img img {
    width: 100%;
    border-radius: 6px;
    display: block;
}

.sec-11-bot-top-overlay {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 51, 51, .9);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.sec-11-bot-top-overlay:hover {
    opacity: 1;
}

.sec-11-bot-top-overlay a i {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

.sec-11-bot-top-overlay:hover a i {
    transform: scale(1);
}

.sec-11-bot-top-overlay i:hover {
    color: var(--primarycolor-);
}

#sec-11-bot-bot {
    width: 100%;
    display: flex;
    column-gap: 15px;
    margin-top: 15px;
}

.sec-11-bot-bot-img {
    width: 25%;
    position: relative;
}


.sec-11-bot-bot-img img {
    width: 100%;
    border-radius: 6px;
    display: block;
}

.sec-11-bot-bot-overlay {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 51, 51, .9);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.sec-11-bot-bot-overlay:hover {
    opacity: 1;
}

.sec-11-bot-bot-overlay a i {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

.sec-11-bot-bot-overlay:hover a i {
    transform: scale(1);
}

.sec-11-bot-bot-overlay i:hover {
    color: var(--primarycolor-);
}


/* section 12 */
#sec12 {
    width: 100%;
    background-color: rgba(249, 249, 249, .8);
}

#main {
    width: 100%;
    height: 100%;
    padding: 102px 0px;
    background: linear-gradient(rgba(249, 249, 249, .8), rgba(249, 249, 249, .8)), url("../../Assignments/Template (Education)/images/subscribe-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#center12 {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#sec-12-top {
    width: 100%;
    margin-bottom: 63px;
}

.sec-12-top-h2 {
    font-family: var(--font-);
    font-size: 40px;
    line-height: 50px;
    font-weight: 900;
    margin-top: 0;
    color: var(--secondarycolor-);
}

.sec-12-top-h4 {
    font-size: 17px;
    line-height: 50px;
    color: var(--secondarycolor-);
    font-weight: 400;
    opacity: .5;
}

#sec-12-bot {
    width: 570px;
    text-align: center;
    margin: 0 auto;
}

.sec-12-bot-h4 {
    margin: 0px 74.100px 39px 74.100px;
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    color: var(--secondarycolor-);
}

#sec-12-bot-in form {
    width: 100%;
    display: flex;
}

#sec-12-bot-in input {
    color: rgb(255, 0, 0);
    padding: 15px 20px;
    outline: none;
    border: none;
    height: 52px;
    width: 100%;
    border-radius: 4px;
}

#sec-12-bot-in button {
    border: none;
    background-color: transparent;
    margin-left: -60px;
    z-index: 1;
    cursor: pointer;
}

#sec-12-bot-in button i {
    font-size: 35px;
    color: var(--primarycolor-);
}



/* footer */
footer{
    width: 100%;
}

#foot-top{
    width: 100%;
    padding: 63px 0px;
    background: linear-gradient(rgba(50,51,51,.9),rgba(50,51,51,.9)),url("../../Assignments/Template (Education)/images/milestone-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

#foot-top-center{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

#foot-top-center h3{
    font-family: var(--font-);
    font-size: 25px;
    color: white;
}

#foot-top-center span{
    font-size: 25px;
    color: var(--primarycolor-);
}

#foot-top-center a{
    text-decoration: none;
    float: right;
    text-align: center;
    color: white;
    font-family: var(--font-);
    background: #e39a31;
    padding: 8px 24px;
    display: inline-block;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.9500000000000002rem;
    transition: all 0.3s ease-in-out;
    position: relative;
}

#foot-top-center a:hover{
    padding-right: 45px;
}

#foot-top-center a i{
    position: absolute;
    top: 50%;
    right:10%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
#foot-top-center a:hover i{
    opacity: 1;
}

#foot-bot{
    width: 100%;
    background-color: var(--secondarycolor-);
    padding: 102px 0px;
}

#foot-bot-center{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

#foot-bot-top{
    width:100%;
    display: flex;
    margin-bottom: 63px;
}

.foot-bot-top-in{
    width: 25%;
    padding: 0px 15px;
    text-align: left;
    color: #888;
}

.foot-bot-top-in a img{
    max-width: 170px;
    margin-bottom: 39px;
}

.foot-bot-top-in address{
    margin-bottom: 15px;
    font-style: normal;
    line-height: 25px;
}

.foot-bot-top-in ul{
    list-style-type: none;
}

.foot-bot-top-in li{
    line-height: 25px;
}


.foot-bot-top-in li i{
    color: var(--primarycolor-);
    margin-right: 10px;
    opacity: .4;
}

.foot-bot-top-in-h2{
    font-size: 17px;
    font-family: var(--font-);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0px 24px 0px;
}

.foot-2 li a{
    text-decoration: none;
    color: #888;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
}

.foot-2 li a:hover{
    color: white;
}

#foot-bot-bot{
    width: 100%;
    border-top: 1px solid #444;
    padding-top: 24px;
    display: flex;
}

.foot-bot-bot-in{
    width: 60%;
}

.foot-bot-bot-in ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 5px;
    text-align: left;
    column-gap: 15px;
}

.foot-bot-bot-in ul li a{
    text-decoration: none;
    color: white;
    font-family: var(--font-);
    font-size: 13px;
}

.foot-bot-bot-in ul li a:hover{
    color: var(--primarycolor-);
}

.foot-bot-bot-in p{
    text-align: left;
    color: #888;
    font-weight: 500;
    line-height: 25px;
    font-size: 15px;
}

.foot-bot-bot-in p a{
    color: var(--primarycolor-);
    text-decoration: none;
}
.foot-bot-bot-in p a:hover{
   color: #e9b05e;
}

.foot-bot-bot-ul{
    width: 40%;
    list-style-type: none;
    display: flex;
    justify-content: end;
    column-gap: 25px;
}

.foot-bot-bot-ul li a{
    text-decoration: none;
    color: #888;
    font-size: 22px;
}

.foot-bot-bot-ul .fa-twitter:hover{
    color: #1da1f2;
}
.foot-bot-bot-ul .fa-facebook-f:hover{
    color: #3b5998;
}
.foot-bot-bot-ul .fa-google:hover{
    color: #dd4b39;
}
.foot-bot-bot-ul .fa-linkedin-in:hover{
    color: #00a0dc;
}
.foot-bot-bot-ul .fa-instagram:hover{
    color: #c13584;
}
.foot-bot-bot-ul .fa-pinterest-p:hover{
    color: #bd081c;
}
.foot-bot-bot-ul .fa-youtube:hover{
    color: #cd201f;
}